body {
    background-color: #aaa;
    color: #333;
}

.textInput {
    height: 500px;
}

.kalendarz table {
    border-collapse: collapse;
    margin-top: 30px;
}

.kalendarz table,
.kalendarz th,
.kalendarz td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.kalendarz td {
    font-size: 25px;
    width: 130px;
}

.kalendarz th {
    font-weight: bold;
    font-size: 36px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dzienTygodnia {
    font-size: 33px;
    font-weight: bold;
}

.dzienEdit {
    cursor: pointer;
}

.dzienNoEdit {
    cursor: not-allowed;
}

.container {
    height: 200px;
    position: relative;
}

.przyciski {
    margin: 20px;
}

.typDnia {
    font-size: 12px;
}

#alert_placeholder {
    margin: 20px;
}

.dzienEdited {
    background-color: rgba(144, 255, 240, 0.568);
}

.listaWpisow th {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.listaWpisow td {
    padding: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.listaWpisow {
    text-align: left;
}

.passStrange {
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
}

.settingTable {
    text-align: right;
}

.adminListing table,
.adminListing th,
.adminListing td {
    border: solid black 1px;
}

.adminListing th {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.adminListing td {
    padding: 10px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.adminListing {
    text-align: left;
}

.adminBlokadaUstawienie {
    width: 75px;
}

.click {
    cursor: pointer;
}